In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Base_de_Dados_housing_sp_city.csv')

In [3]:
df

,logradouro,numero,bairro,cep,cidade,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,tipo_anuncio,preco_venda,taxa_condominio,periodicidade,preco_aluguel,iptu_ano
0,Rua Juvenal Galeno,53,Jardim da Saúde,4290030.0,São Paulo,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,Venda,700000,NaN,NaN,NaN,NaN
1,Rua Juruaba,16,Vila Santa Teresa (Zona Sul),4187320.0,São Paulo,Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,Venda,336000,NaN,NaN,NaN,NaN
2,Avenida Paulista,402,Bela Vista,1311000.0,São Paulo,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,Locação,24929,4900.0,MONTHLY,29829.0,4040.0
3,Rua Alvorada,1190,Vila Olímpia,4550004.0,São Paulo,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,Venda,739643,686.0,NaN,NaN,1610.0
4,Rua Curitiba,380,Paraíso,4005030.0,São Paulo,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,Venda,7520099,6230.0,NaN,NaN,18900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133959,Rua Glicério,255,Liberdade,1514000.0,São Paulo,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,Venda,249782,210.0,NaN,NaN,0.0
133960,Rua Laboriosa,NaN,Jardim das Bandeiras,5434060.0,São Paulo,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,Venda,1085000,NaN,NaN,NaN,507.0
133961,Rua José Pereira de Carvalho,10,Vila Lageado,5337090.0,São Paulo,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,Venda,623000,NaN,NaN,NaN,NaN
133962,Rua Evangelista Rodrigues,234,Alto de Pinheiros,5463000.0,São Paulo,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,Venda,1820000,0.0,NaN,NaN,665.0
133963,Avenida da Liberdade,113,Liberdade,1503000.0,São Paulo,Escritório,40.0,1.0,NaN,NaN,NaN,2018-10-19,Locação,842,399.0,MONTHLY,1241.0,1610.0

In [4]:
df_locacao = df[df['tipo_anuncio'] == 'Locação']

In [5]:
df_locacao

,logradouro,numero,bairro,cep,cidade,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,tipo_anuncio,preco_venda,taxa_condominio,periodicidade,preco_aluguel,iptu_ano
2,Avenida Paulista,402,Bela Vista,1311000.0,São Paulo,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,Locação,24929,4900.0,MONTHLY,29829.0,4040.0
5,Rua Pintassilgo,477,Vila Uberabinha,4514032.0,São Paulo,Flat,45.0,0.0,1.0,1.0,1.0,2018-10-09,Locação,1889,560.0,MONTHLY,2450.0,87.0
18,Rua Nova York,426,Cidade Monções,4560000.0,São Paulo,Loja,126.0,4.0,0.0,4.0,2.0,2018-07-02,Locação,3849,0.0,MONTHLY,3849.0,3311.0
20,Rua Caraíbas,823,Vila Pompeia,5020000.0,São Paulo,Condomínio,274.0,3.0,0.0,0.0,2.0,2018-08-02,Locação,7699,0.0,MONTHLY,7699.0,0.0
39,Rua Olegário Mariano,869,Jardim Guedala,5612001.0,São Paulo,Casa,480.0,6.0,3.0,0.0,4.0,2018-09-07,Locação,7000,0.0,MONTHLY,7000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133940,Rua Massacá,231,Alto de Pinheiros,5465050.0,São Paulo,Apartamento,394.0,5.0,2.0,4.0,5.0,2019-01-31,Locação,15399,2205.0,MONTHLY,17605.0,19600.0
133945,Rua Bela Cintra,NaN,Consolação,1415000.0,São Paulo,Escritório,191.0,8.0,0.0,0.0,8.0,2019-02-16,Locação,22750,9100.0,MONTHLY,31849.0,NaN
133947,Rua Bela Cintra,NaN,Consolação,1415001.0,São Paulo,Comercial,2836.0,0.0,0.0,0.0,30.0,2018-08-13,Locação,118999,0.0,MONTHLY,118999.0,8129.0
133952,Rua Roque Palmieri,557,Cidade Líder,8285170.0,São Paulo,Casa,30.0,1.0,0.0,1.0,0.0,2017-07-31,Locação,604,NaN,MONTHLY,604.0,NaN
133963,Avenida da Liberdade,113,Liberdade,1503000.0,São Paulo,Escritório,40.0,1.0,NaN,NaN,NaN,2018-10-19,Locação,842,399.0,MONTHLY,1241.0,1610.0

In [6]:
df_locacao.columns
# numero, cep, cidade, tipo_anuncio, periodicidade, preco_venda

Index(['logradouro', 'numero', 'bairro', 'cep', 'cidade', 'tipo_imovel',
       'area_util', 'banheiros', 'suites', 'quartos', 'vagas_garagem',
       'anuncio_criado', 'tipo_anuncio', 'preco_venda', 'taxa_condominio',
       'periodicidade', 'preco_aluguel', 'iptu_ano'],
      dtype='object')

In [20]:
df_venda = df[df['tipo_anuncio'] == 'Venda']

In [21]:
df_venda.columns
# numero, cep, cidade, tipo_anuncio, periodicidade, preco_aluguel

Index(['logradouro', 'numero', 'bairro', 'cep', 'cidade', 'tipo_imovel',
       'area_util', 'banheiros', 'suites', 'quartos', 'vagas_garagem',
       'anuncio_criado', 'tipo_anuncio', 'preco_venda', 'taxa_condominio',
       'periodicidade', 'preco_aluguel', 'iptu_ano'],
      dtype='object')

In [22]:
df_venda

,logradouro,numero,bairro,cep,cidade,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,tipo_anuncio,preco_venda,taxa_condominio,periodicidade,preco_aluguel,iptu_ano
0,Rua Juvenal Galeno,53,Jardim da Saúde,4290030.0,São Paulo,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,Venda,700000,NaN,NaN,NaN,NaN
1,Rua Juruaba,16,Vila Santa Teresa (Zona Sul),4187320.0,São Paulo,Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,Venda,336000,NaN,NaN,NaN,NaN
3,Rua Alvorada,1190,Vila Olímpia,4550004.0,São Paulo,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,Venda,739643,686.0,NaN,NaN,1610.0
4,Rua Curitiba,380,Paraíso,4005030.0,São Paulo,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,Venda,7520099,6230.0,NaN,NaN,18900.0
6,Rua Mateus Grou,586,Pinheiros,5415040.0,São Paulo,Apartamento,94.0,1.0,0.0,3.0,2.0,2018-05-29,Venda,630700,1120.0,NaN,NaN,489.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133958,Rua Santo Amaro,580,Bela Vista,1315000.0,São Paulo,Apartamento,60.0,1.0,NaN,1.0,1.0,2017-12-13,Venda,251999,273.0,NaN,NaN,86.0
133959,Rua Glicério,255,Liberdade,1514000.0,São Paulo,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,Venda,249782,210.0,NaN,NaN,0.0
133960,Rua Laboriosa,NaN,Jardim das Bandeiras,5434060.0,São Paulo,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,Venda,1085000,NaN,NaN,NaN,507.0
133961,Rua José Pereira de Carvalho,10,Vila Lageado,5337090.0,São Paulo,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,Venda,623000,NaN,NaN,NaN,NaN
133962,Rua Evangelista Rodrigues,234,Alto de Pinheiros,5463000.0,São Paulo,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,Venda,1820000,0.0,NaN,NaN,665.0

In [10]:
total_locacao = df_locacao.isnull().sum().sort_values(ascending=False)
percent_1_locacao = df_locacao.isnull().sum() / df_locacao.isnull().count()*100
percent_2_locacao = (round(percent_1_locacao, 2)).sort_values(ascending=False)
missing_data_locacao = pd.concat([total_locacao, percent_2_locacao], axis=1, keys=['Total de Nulos', '%'])
missing_data_locacao = missing_data_locacao.sort_values(by=['Total de Nulos'], ascending=False)
missing_data_locacao

                 Total de Nulos      %
numero                     8290  28.95
suites                     3912  13.66
taxa_condominio            2820   9.85
quartos                    1740   6.08
iptu_ano                   1607   5.61
vagas_garagem              1460   5.10
logradouro                 1319   4.61
cep                        1250   4.37
area_util                   527   1.84
banheiros                   245   0.86
preco_aluguel                13   0.05
bairro                        6   0.02
tipo_anuncio                  0   0.00
anuncio_criado                0   0.00
preco_venda                   0   0.00
tipo_imovel                   0   0.00
cidade                        0   0.00
periodicidade                 0   0.00

In [11]:
total_venda = df_venda.isnull().sum().sort_values(ascending=False)
percent_1_venda = df_venda.isnull().sum() / df_venda.isnull().count()*100
percent_2_venda = (round(percent_1_venda, 2)).sort_values(ascending=False)
missing_data_venda = pd.concat([total_venda, percent_2_venda], axis=1, keys=['Total de Nulos', '%'])
missing_data_venda = missing_data_venda.sort_values(by=['Total de Nulos'], ascending=False)
missing_data_venda

                 Total de Nulos      %
preco_aluguel            105237  99.91
periodicidade            104913  99.60
numero                    35851  34.04
iptu_ano                  17745  16.85
taxa_condominio           14017  13.31
suites                     9705   9.21
logradouro                 5683   5.40
cep                        4658   4.42
vagas_garagem              2965   2.81
area_util                  2569   2.44
quartos                    1279   1.21
banheiros                   668   0.63
bairro                       15   0.01
anuncio_criado                0   0.00
tipo_anuncio                  0   0.00
tipo_imovel                   0   0.00
cidade                        0   0.00
preco_venda                   0   0.00

In [12]:
## REMOVER AS COLUNAS PARA LOCACAO DOS IMOVEIS
df_locacao = df_locacao.drop(columns=['numero', 'cep', 'cidade', 'tipo_anuncio', 'periodicidade', 'preco_venda'])

In [24]:
## REMOVER AS COLUNAS PARA VENDAS DOS IMOVEIS
df_venda = df_venda.drop(columns=['numero', 'cep', 'cidade', 'tipo_anuncio', 'periodicidade', 'preco_aluguel'])

In [14]:
df_locacao

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,taxa_condominio,preco_aluguel,iptu_ano
2,Avenida Paulista,Bela Vista,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,4900.0,29829.0,4040.0
5,Rua Pintassilgo,Vila Uberabinha,Flat,45.0,0.0,1.0,1.0,1.0,2018-10-09,560.0,2450.0,87.0
18,Rua Nova York,Cidade Monções,Loja,126.0,4.0,0.0,4.0,2.0,2018-07-02,0.0,3849.0,3311.0
20,Rua Caraíbas,Vila Pompeia,Condomínio,274.0,3.0,0.0,0.0,2.0,2018-08-02,0.0,7699.0,0.0
39,Rua Olegário Mariano,Jardim Guedala,Casa,480.0,6.0,3.0,0.0,4.0,2018-09-07,0.0,7000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
133940,Rua Massacá,Alto de Pinheiros,Apartamento,394.0,5.0,2.0,4.0,5.0,2019-01-31,2205.0,17605.0,19600.0
133945,Rua Bela Cintra,Consolação,Escritório,191.0,8.0,0.0,0.0,8.0,2019-02-16,9100.0,31849.0,NaN
133947,Rua Bela Cintra,Consolação,Comercial,2836.0,0.0,0.0,0.0,30.0,2018-08-13,0.0,118999.0,8129.0
133952,Rua Roque Palmieri,Cidade Líder,Casa,30.0,1.0,0.0,1.0,0.0,2017-07-31,NaN,604.0,NaN
133963,Avenida da Liberdade,Liberdade,Escritório,40.0,1.0,NaN,NaN,NaN,2018-10-19,399.0,1241.0,1610.0

In [15]:
df_venda

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco_venda,taxa_condominio,iptu_ano
0,Rua Juvenal Galeno,Jardim da Saúde,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,700000,NaN,NaN
1,Rua Juruaba,Vila Santa Teresa (Zona Sul),Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,336000,NaN,NaN
3,Rua Alvorada,Vila Olímpia,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,739643,686.0,1610.0
4,Rua Curitiba,Paraíso,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,7520099,6230.0,18900.0
6,Rua Mateus Grou,Pinheiros,Apartamento,94.0,1.0,0.0,3.0,2.0,2018-05-29,630700,1120.0,489.0
...,...,...,...,...,...,...,...,...,...,...,...,...
133958,Rua Santo Amaro,Bela Vista,Apartamento,60.0,1.0,NaN,1.0,1.0,2017-12-13,251999,273.0,86.0
133959,Rua Glicério,Liberdade,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,249782,210.0,0.0
133960,Rua Laboriosa,Jardim das Bandeiras,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,1085000,NaN,507.0
133961,Rua José Pereira de Carvalho,Vila Lageado,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,623000,NaN,NaN
133962,Rua Evangelista Rodrigues,Alto de Pinheiros,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,1820000,0.0,665.0

In [18]:
df_locacao = df_locacao.rename({'preco_aluguel': 'preco'}, axis=1)
df_locacao

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,taxa_condominio,preco,iptu_ano
2,Avenida Paulista,Bela Vista,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,4900.0,29829.0,4040.0
5,Rua Pintassilgo,Vila Uberabinha,Flat,45.0,0.0,1.0,1.0,1.0,2018-10-09,560.0,2450.0,87.0
18,Rua Nova York,Cidade Monções,Loja,126.0,4.0,0.0,4.0,2.0,2018-07-02,0.0,3849.0,3311.0
20,Rua Caraíbas,Vila Pompeia,Condomínio,274.0,3.0,0.0,0.0,2.0,2018-08-02,0.0,7699.0,0.0
39,Rua Olegário Mariano,Jardim Guedala,Casa,480.0,6.0,3.0,0.0,4.0,2018-09-07,0.0,7000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
133940,Rua Massacá,Alto de Pinheiros,Apartamento,394.0,5.0,2.0,4.0,5.0,2019-01-31,2205.0,17605.0,19600.0
133945,Rua Bela Cintra,Consolação,Escritório,191.0,8.0,0.0,0.0,8.0,2019-02-16,9100.0,31849.0,NaN
133947,Rua Bela Cintra,Consolação,Comercial,2836.0,0.0,0.0,0.0,30.0,2018-08-13,0.0,118999.0,8129.0
133952,Rua Roque Palmieri,Cidade Líder,Casa,30.0,1.0,0.0,1.0,0.0,2017-07-31,NaN,604.0,NaN
133963,Avenida da Liberdade,Liberdade,Escritório,40.0,1.0,NaN,NaN,NaN,2018-10-19,399.0,1241.0,1610.0

In [25]:
df_venda = df_venda.rename({'preco_venda': 'preco'}, axis=1)
df_venda

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco,taxa_condominio,iptu_ano
0,Rua Juvenal Galeno,Jardim da Saúde,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,700000,NaN,NaN
1,Rua Juruaba,Vila Santa Teresa (Zona Sul),Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,336000,NaN,NaN
3,Rua Alvorada,Vila Olímpia,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,739643,686.0,1610.0
4,Rua Curitiba,Paraíso,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,7520099,6230.0,18900.0
6,Rua Mateus Grou,Pinheiros,Apartamento,94.0,1.0,0.0,3.0,2.0,2018-05-29,630700,1120.0,489.0
...,...,...,...,...,...,...,...,...,...,...,...,...
133958,Rua Santo Amaro,Bela Vista,Apartamento,60.0,1.0,NaN,1.0,1.0,2017-12-13,251999,273.0,86.0
133959,Rua Glicério,Liberdade,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,249782,210.0,0.0
133960,Rua Laboriosa,Jardim das Bandeiras,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,1085000,NaN,507.0
133961,Rua José Pereira de Carvalho,Vila Lageado,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,623000,NaN,NaN
133962,Rua Evangelista Rodrigues,Alto de Pinheiros,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,1820000,0.0,665.0

In [26]:
df_locacao = df_locacao.drop(columns=['taxa_condominio', 'iptu_ano'])

In [30]:
df_venda['taxa_condominio'] = df_venda['taxa_condominio'].fillna(0)
df_venda['iptu_ano'] = df_venda['iptu_ano'].fillna(0)
#df = df.fillna(0)

In [31]:
df_venda

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco,taxa_condominio,iptu_ano
0,Rua Juvenal Galeno,Jardim da Saúde,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,700000,0.0,0.0
1,Rua Juruaba,Vila Santa Teresa (Zona Sul),Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,336000,0.0,0.0
3,Rua Alvorada,Vila Olímpia,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,739643,686.0,1610.0
4,Rua Curitiba,Paraíso,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,7520099,6230.0,18900.0
6,Rua Mateus Grou,Pinheiros,Apartamento,94.0,1.0,0.0,3.0,2.0,2018-05-29,630700,1120.0,489.0
...,...,...,...,...,...,...,...,...,...,...,...,...
133958,Rua Santo Amaro,Bela Vista,Apartamento,60.0,1.0,NaN,1.0,1.0,2017-12-13,251999,273.0,86.0
133959,Rua Glicério,Liberdade,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,249782,210.0,0.0
133960,Rua Laboriosa,Jardim das Bandeiras,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,1085000,0.0,507.0
133961,Rua José Pereira de Carvalho,Vila Lageado,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,623000,0.0,0.0
133962,Rua Evangelista Rodrigues,Alto de Pinheiros,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,1820000,0.0,665.0

In [34]:
df_venda['preco_total'] = df_venda['preco'] + df_venda['taxa_condominio'] + df_venda['iptu_ano']
df_venda = df_venda.drop(columns=['preco', 'taxa_condominio', 'iptu_ano'])
df_venda

KeyError: 'preco'

In [36]:
df_locacao

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco
2,Avenida Paulista,Bela Vista,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,29829.0
5,Rua Pintassilgo,Vila Uberabinha,Flat,45.0,0.0,1.0,1.0,1.0,2018-10-09,2450.0
18,Rua Nova York,Cidade Monções,Loja,126.0,4.0,0.0,4.0,2.0,2018-07-02,3849.0
20,Rua Caraíbas,Vila Pompeia,Condomínio,274.0,3.0,0.0,0.0,2.0,2018-08-02,7699.0
39,Rua Olegário Mariano,Jardim Guedala,Casa,480.0,6.0,3.0,0.0,4.0,2018-09-07,7000.0
...,...,...,...,...,...,...,...,...,...,...
133940,Rua Massacá,Alto de Pinheiros,Apartamento,394.0,5.0,2.0,4.0,5.0,2019-01-31,17605.0
133945,Rua Bela Cintra,Consolação,Escritório,191.0,8.0,0.0,0.0,8.0,2019-02-16,31849.0
133947,Rua Bela Cintra,Consolação,Comercial,2836.0,0.0,0.0,0.0,30.0,2018-08-13,118999.0
133952,Rua Roque Palmieri,Cidade Líder,Casa,30.0,1.0,0.0,1.0,0.0,2017-07-31,604.0
133963,Avenida da Liberdade,Liberdade,Escritório,40.0,1.0,NaN,NaN,NaN,2018-10-19,1241.0

In [35]:
df_venda

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco_total
0,Rua Juvenal Galeno,Jardim da Saúde,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,700000.0
1,Rua Juruaba,Vila Santa Teresa (Zona Sul),Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,336000.0
3,Rua Alvorada,Vila Olímpia,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,741939.0
4,Rua Curitiba,Paraíso,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,7545229.0
6,Rua Mateus Grou,Pinheiros,Apartamento,94.0,1.0,0.0,3.0,2.0,2018-05-29,632309.0
...,...,...,...,...,...,...,...,...,...,...
133958,Rua Santo Amaro,Bela Vista,Apartamento,60.0,1.0,NaN,1.0,1.0,2017-12-13,252358.0
133959,Rua Glicério,Liberdade,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,249992.0
133960,Rua Laboriosa,Jardim das Bandeiras,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,1085507.0
133961,Rua José Pereira de Carvalho,Vila Lageado,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,623000.0
133962,Rua Evangelista Rodrigues,Alto de Pinheiros,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,1820665.0

In [37]:
total_locacao = df_locacao.isnull().sum().sort_values(ascending=False)
percent_1_locacao = df_locacao.isnull().sum() / df_locacao.isnull().count()*100
percent_2_locacao = (round(percent_1_locacao, 2)).sort_values(ascending=False)
missing_data_locacao = pd.concat([total_locacao, percent_2_locacao], axis=1, keys=['Total de Nulos', '%'])
missing_data_locacao = missing_data_locacao.sort_values(by=['Total de Nulos'], ascending=False)
missing_data_locacao

                Total de Nulos      %
suites                    3912  13.66
quartos                   1740   6.08
vagas_garagem             1460   5.10
logradouro                1319   4.61
area_util                  527   1.84
banheiros                  245   0.86
preco                       13   0.05
bairro                       6   0.02
anuncio_criado               0   0.00
tipo_imovel                  0   0.00

In [38]:
total_venda = df_venda.isnull().sum().sort_values(ascending=False)
percent_1_venda = df_venda.isnull().sum() / df_venda.isnull().count()*100
percent_2_venda = (round(percent_1_venda, 2)).sort_values(ascending=False)
missing_data_venda = pd.concat([total_venda, percent_2_venda], axis=1, keys=['Total de Nulos', '%'])
missing_data_venda = missing_data_venda.sort_values(by=['Total de Nulos'], ascending=False)
missing_data_venda

                Total de Nulos     %
suites                    9705  9.21
logradouro                5683  5.40
vagas_garagem             2965  2.81
area_util                 2569  2.44
quartos                   1279  1.21
banheiros                  668  0.63
bairro                      15  0.01
preco_total                  0  0.00
anuncio_criado               0  0.00
tipo_imovel                  0  0.00

In [41]:
df_locacao = df_locacao.dropna()

In [42]:
df_locacao

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco
2,Avenida Paulista,Bela Vista,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,29829.0
5,Rua Pintassilgo,Vila Uberabinha,Flat,45.0,0.0,1.0,1.0,1.0,2018-10-09,2450.0
18,Rua Nova York,Cidade Monções,Loja,126.0,4.0,0.0,4.0,2.0,2018-07-02,3849.0
20,Rua Caraíbas,Vila Pompeia,Condomínio,274.0,3.0,0.0,0.0,2.0,2018-08-02,7699.0
39,Rua Olegário Mariano,Jardim Guedala,Casa,480.0,6.0,3.0,0.0,4.0,2018-09-07,7000.0
...,...,...,...,...,...,...,...,...,...,...
133935,Rua Nagib Izar,Jardim Anália Franco,Casa de dois andares,519.0,3.0,2.0,4.0,6.0,2018-10-27,28000.0
133940,Rua Massacá,Alto de Pinheiros,Apartamento,394.0,5.0,2.0,4.0,5.0,2019-01-31,17605.0
133945,Rua Bela Cintra,Consolação,Escritório,191.0,8.0,0.0,0.0,8.0,2019-02-16,31849.0
133947,Rua Bela Cintra,Consolação,Comercial,2836.0,0.0,0.0,0.0,30.0,2018-08-13,118999.0
133952,Rua Roque Palmieri,Cidade Líder,Casa,30.0,1.0,0.0,1.0,0.0,2017-07-31,604.0

In [43]:
total_locacao = df_locacao.isnull().sum().sort_values(ascending=False)
percent_1_locacao = df_locacao.isnull().sum() / df_locacao.isnull().count()*100
percent_2_locacao = (round(percent_1_locacao, 2)).sort_values(ascending=False)
missing_data_locacao = pd.concat([total_locacao, percent_2_locacao], axis=1, keys=['Total de Nulos', '%'])
missing_data_locacao = missing_data_locacao.sort_values(by=['Total de Nulos'], ascending=False)
missing_data_locacao

                Total de Nulos    %
preco                        0  0.0
anuncio_criado               0  0.0
vagas_garagem                0  0.0
quartos                      0  0.0
suites                       0  0.0
banheiros                    0  0.0
area_util                    0  0.0
tipo_imovel                  0  0.0
bairro                       0  0.0
logradouro                   0  0.0

In [44]:
df_venda = df_venda.dropna()

In [45]:
total_venda = df_venda.isnull().sum().sort_values(ascending=False)
percent_1_venda = df_venda.isnull().sum() / df_venda.isnull().count()*100
percent_2_venda = (round(percent_1_venda, 2)).sort_values(ascending=False)
missing_data_venda = pd.concat([total_venda, percent_2_venda], axis=1, keys=['Total de Nulos', '%'])
missing_data_venda = missing_data_venda.sort_values(by=['Total de Nulos'], ascending=False)
missing_data_venda

                Total de Nulos    %
preco_total                  0  0.0
anuncio_criado               0  0.0
vagas_garagem                0  0.0
quartos                      0  0.0
suites                       0  0.0
banheiros                    0  0.0
area_util                    0  0.0
tipo_imovel                  0  0.0
bairro                       0  0.0
logradouro                   0  0.0

In [46]:
df_venda

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco_total
0,Rua Juvenal Galeno,Jardim da Saúde,Casa de dois andares,388.0,3.0,1.0,4.0,6.0,2017-02-07,700000.0
1,Rua Juruaba,Vila Santa Teresa (Zona Sul),Casa,129.0,2.0,1.0,3.0,2.0,2016-03-21,336000.0
3,Rua Alvorada,Vila Olímpia,Apartamento,80.0,2.0,1.0,3.0,2.0,2018-10-26,741939.0
4,Rua Curitiba,Paraíso,Apartamento,3322.0,5.0,4.0,4.0,5.0,2018-12-14,7545229.0
6,Rua Mateus Grou,Pinheiros,Apartamento,94.0,1.0,0.0,3.0,2.0,2018-05-29,632309.0
...,...,...,...,...,...,...,...,...,...,...
133957,Rua Bela Cintra,Consolação,Apartamento,270.0,4.0,3.0,3.0,4.0,2018-04-25,2838626.0
133959,Rua Glicério,Liberdade,Apartamento,53.0,2.0,1.0,2.0,1.0,2018-11-28,249992.0
133960,Rua Laboriosa,Jardim das Bandeiras,Escritório,450.0,3.0,1.0,3.0,4.0,2018-08-08,1085507.0
133961,Rua José Pereira de Carvalho,Vila Lageado,Apartamento,20.0,3.0,2.0,3.0,2.0,2019-02-06,623000.0
133962,Rua Evangelista Rodrigues,Alto de Pinheiros,Casa de dois andares,357.0,4.0,1.0,4.0,4.0,2018-04-14,1820665.0

In [47]:
df_locacao

,logradouro,bairro,tipo_imovel,area_util,banheiros,suites,quartos,vagas_garagem,anuncio_criado,preco
2,Avenida Paulista,Bela Vista,Comercial,396.0,4.0,0.0,0.0,5.0,2018-12-18,29829.0
5,Rua Pintassilgo,Vila Uberabinha,Flat,45.0,0.0,1.0,1.0,1.0,2018-10-09,2450.0
18,Rua Nova York,Cidade Monções,Loja,126.0,4.0,0.0,4.0,2.0,2018-07-02,3849.0
20,Rua Caraíbas,Vila Pompeia,Condomínio,274.0,3.0,0.0,0.0,2.0,2018-08-02,7699.0
39,Rua Olegário Mariano,Jardim Guedala,Casa,480.0,6.0,3.0,0.0,4.0,2018-09-07,7000.0
...,...,...,...,...,...,...,...,...,...,...
133935,Rua Nagib Izar,Jardim Anália Franco,Casa de dois andares,519.0,3.0,2.0,4.0,6.0,2018-10-27,28000.0
133940,Rua Massacá,Alto de Pinheiros,Apartamento,394.0,5.0,2.0,4.0,5.0,2019-01-31,17605.0
133945,Rua Bela Cintra,Consolação,Escritório,191.0,8.0,0.0,0.0,8.0,2019-02-16,31849.0
133947,Rua Bela Cintra,Consolação,Comercial,2836.0,0.0,0.0,0.0,30.0,2018-08-13,118999.0
133952,Rua Roque Palmieri,Cidade Líder,Casa,30.0,1.0,0.0,1.0,0.0,2017-07-31,604.0

In [ ]:
## VAI SER NECESSÁRIO TROCAR AS VARIAVEIS TIPO_IMOVEL E BAIRRO PARA NUMERICO TANTO EM VENDA COMO LOCAÇÃO.